header {
  background-color: white;
}

nav,
ul {
  height: 100%;
  font-size: 20px;
}

ul {
  display: flex;
  justify-items: center;
  gap: 40px;
}

li {
  margin: auto 20px;
  list-style-type: none;
}

a {
  display: flex;
  justify-items: center;
  gap: 10px;
  text-decoration: none;
}

li:last-of-type {
  margin: auto 20px auto auto;
}
